.selector{
    position: relative;
}
.selector h2{
    background-color: rgb(207, 207, 207);
    padding: .2rem 2rem;
    cursor: pointer;
    user-select: none;
    border-radius: .5rem;
}
.selector-dropdown{
    position: absolute;
    top: 3.7rem;
    width: 100%;
}
.selector-option{
    background-color: white;
    border: 1px solid black;
    margin-bottom: .3rem;
    border-radius: .5rem;
    padding: .3rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
}